mat-toolbar {
  height: 64px;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  border-bottom: 1px solid var(--mat-sys-outline-variant);
  box-sizing: border-box;
}

.spacer {
  flex: 1 1 auto;
}
